/** FONTS IMPORT */
@import url('https://fonts.googleapis.com/css?family=Lobster|Luckiest+Guy|Pacifico|Rokkitt|Satisfy');

/** SITE BRANDING STYLE OVERRIDE */
.site-branding {
    font-size: 25pt;
    font-weight: bold;
    font-family: monospace;
    width: 100%;
    text-align: center;
}

/** MENU STYLING */
#block-170510-menu-main-menu > menu-item {
    padding: 0 0 0 0 !important;
    margin: 0 0 0 0 !important;
}

.region-primary-menu .menu a {
    border-radius: 0px;
}

@media (min-width: 901px) {
    .region-primary-menu .menu-item, body:not(:target) .region-primary-menu .menu-item {
        float: left;
        list-style: none;
        padding: 0 0 0 0 !important;
        margin: 0 0 0 0 !important;
        width: auto;
        height: auto;
        overflow: visible;
    }
}

/* 1705161101 */

/* HEADINGS */

h1, h2, h3, h4, h5, h6 {
    font-family: Tahoma;

}

h1.a170510 {
    font-size: 36pt;
    text-transform: none;
}

h2.a170510 {
    font-size: 33pt;
    text-transform: none;
}

h3.a170510 {
    font-size: 30pt;
    text-transform: none;
}

h4.a170510 {
    font-size: 27pt;
    text-transform: none;
}

h5.a170510 {
    font-size: 24pt;
    text-transform: none;
}

h6.a170510 {
    font-size: 21pt;
    text-transform: none;
}

/* FONT VARIATIONS */
.a170510.lobster {
    font-family: 'Lobster', cursive;
}

.a170510.pacifico {
    font-family: 'Pacifico', cursive;
}

.a170510.rokkitt {
    font-family: 'Rokkitt', serif;
}

.a170510.satisfy {
    font-family: 'Satisfy', cursive;
}

.a170510.luckiest-guy {
    font-family: 'Luckiest Guy', cursive;
}

/* END OF 170516 */

/* 170517 */

.a170510.img.home {

}

/* END OF 170717 */
